<br>
<br>
<br>
<br>
<br>
<footer id="footer_bg">
  <div>
    <img src="/assets/logo.jpg" alt="logo" style="margin-top: 1%; margin-left: 48%; height: 60px; width: 60px;">
  </div>

  <div>
    <p style="text-align: center; font-size: 120%; margin-top: 4%;"><a href="#" id="footer_links">Home</a> &emsp; &emsp;
      <a href="#" id="footer_links">Contact Us</a>&emsp; &emsp; <a href="#" id="footer_links">About
        Us</a>&emsp; &emsp; <a href="users/signin" id="footer_links">Sign In</a> &emsp; &emsp; <a href="users/signout"
        id="footer_links">Sign Out</a> </p>
  </div>
  <br>
  <div>
    <p style="text-align: center; font-weight: bolder; font-size: 120%;">Get Connected With Us : &emsp;
      <a href="#" class="fa fa-facebook"></a> &emsp;
      <a href="#" class="fa fa-twitter"></a> &emsp;
      <a href="#" class="fa fa-google"></a>
    </p>
  </div>

</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
  var getTitle = "<%= title %>";
</script>
<script src="/scripts/app.js "></script>


<!--</body> 

</html> -->