<app-header [title]="title"></app-header>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>{{editing ? "Edit" : "Add a new"}} Item</h1>

            <form novalidate #form="ngForm" (ngSubmit)="save(form)">
            <!-- <form class="form" method="POST"> -->
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        [(ngModel)]="item._id"
                    >
                    <label for="itemTextField">Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Item Name"
                        name="item" 
                        [(ngModel)]="item.name"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Brand</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="00"
                    name="qty" 
                    [(ngModel)]="item.brand"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Category</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="00"
                    name="qty" 
                    [(ngModel)]="item.category"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Quantity</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="00"
                    name="qty" 
                    [(ngModel)]="item.quantity"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Price</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter a Price"
                    name="status" 
                    [(ngModel)]="item.price"
                    >
                </div>
                <br />
                             
                <br />
                <div class="form-group">
                    <label for="tagTextArea">Description <span class="text-muted">[use , to separate tags]</span></label>
                    <textarea type="text" class="form-control"
                    id="tagTextArea"
                    placeholder="Enter the tags of the item"
                    name="description" 
                    [(ngModel)]="item.description">                    
                    </textarea>
                </div>
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="#" routerLink="/inventory/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<app-footer></app-footer>